*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
 h1{
    text-align: center;
    background-color: pink;
    color: black;
    border-radius: 2%;
    box-shadow: inset;
   
 }
 .titulo{
    text-align: center;
    margin: 30px;
    color: red;
    font-size: x-large;

 }
.titulo:active{
   background-color: pink;
   color: palevioletred;
 }

 p,ul{
    margin-left: 1%;
    
 }
 ul::selection{
    color: greenyellow;
 }
 p::selection{
    color: greenyellow;
 }
 ul::first-letter{
    color: red;
    font-size: x-large;
 }
 p::first-letter{
    color: red;
    font-size: x-large;
 }
 #fim::before{
    content: url(/img/humor.png);
  
 }

